In [47]:
import numpy as np
import pandas as pd
import os

### Read data

In [244]:
train = pd.read_csv("train.csv")

In [245]:
test = pd.read_csv("test.csv")

In [246]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [247]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [248]:
import sklearn

In [249]:
from sklearn import preprocessing as pp

In [250]:
from sklearn import cross_validation as cv
from sklearn import metrics
from sklearn.cross_validation import train_test_split
from sklearn.neighbors import KNeighborsClassifier

In [251]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [252]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [253]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [254]:
train.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [255]:
train[(train.Sex == 'female') & (train.Survived == 0) & (train.Pclass < 2)]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
177,178,0,1,"Isham, Miss. Ann Elizabeth",female,50.0,0,0,PC 17595,28.7125,C49,C
297,298,0,1,"Allison, Miss. Helen Loraine",female,2.0,1,2,113781,151.5500,C22 C26,S
498,499,0,1,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0,1,2,113781,151.5500,C22 C26,S

In [256]:
train.shape

(891, 12)

In [257]:
train.drop(["Ticket","Cabin", "Embarked"], axis= 1, inplace=True)
test.drop(["Ticket","Cabin", "Embarked"], axis= 1, inplace=True)

In [258]:
train.drop("Name", axis= 1, inplace=True)
test.drop("Name", axis= 1, inplace=True)

In [259]:
gender_mapping = {'female':0, 'male':1}
train['Sex'] = train['Sex'].map(gender_mapping)
test['Sex'] = test['Sex'].map(gender_mapping)

In [260]:
train.shape

(891, 8)

In [261]:
train.dropna(inplace=True)

In [262]:
train.shape

(714, 8)

In [263]:
y = train.Survived
train.drop("Survived", axis= 1, inplace=True)

In [264]:
train.shape

(714, 7)

In [265]:
X = train
Xt = test

In [266]:
X.shape

(714, 7)

In [267]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size= 0.4, random_state = 9)

In [268]:
knn = KNeighborsClassifier(n_neighbors=20)

In [269]:
X.head()

   PassengerId  Pclass  Sex   Age  SibSp  Parch     Fare
0            1       3    1  22.0      1      0   7.2500
1            2       1    0  38.0      1      0  71.2833
2            3       3    0  26.0      0      0   7.9250
3            4       1    0  35.0      1      0  53.1000
4            5       3    1  35.0      0      0   8.0500

In [270]:
knn.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=1, n_neighbors=20, p=2,
           weights='uniform')

In [271]:
X_test.describe()

,PassengerId,Pclass,Sex,Age,SibSp,Parch,Fare
count,286.000000,286.000000,286.000000,286.000000,286.000000,286.000000,286.000000
mean,431.961538,2.265734,0.664336,29.432692,0.541958,0.416084,33.756032
std,266.632861,0.833097,0.473050,14.762032,0.996479,0.819683,55.566804
min,3.000000,1.000000,0.000000,0.750000,0.000000,0.000000,0.000000
25%,185.750000,2.000000,0.000000,20.000000,0.000000,0.000000,8.050000
50%,419.500000,3.000000,1.000000,28.000000,0.000000,0.000000,14.454200
75%,678.250000,3.000000,1.000000,37.000000,1.000000,1.000000,33.362475
max,888.000000,3.000000,1.000000,74.000000,5.000000,5.000000,512.329200

In [272]:
X_train.describe()

,PassengerId,Pclass,Sex,Age,SibSp,Parch,Fare
count,428.000000,428.00000,428.000000,428.000000,428.000000,428.000000,428.000000
mean,459.689252,2.21729,0.614486,29.877150,0.492991,0.441589,35.321631
std,253.682811,0.84209,0.487286,14.381573,0.883069,0.875826,51.129822
min,1.000000,1.00000,0.000000,0.420000,0.000000,0.000000,0.000000
25%,251.500000,1.00000,0.000000,21.000000,0.000000,0.000000,8.050000
50%,460.000000,2.00000,1.000000,28.000000,0.000000,0.000000,16.100000
75%,677.250000,3.00000,1.000000,39.000000,1.000000,1.000000,33.125000
max,891.000000,3.00000,1.000000,80.000000,5.000000,6.000000,512.329200

In [273]:
y_pred = knn.predict(X_test)

In [274]:
metrics.accuracy_score(y_test, y_pred)

0.62937062937062938

In [275]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
logreg.fit(X_train, y_train)
y_test_pred_logreg = logreg.predict(X_test)
metrics.accuracy_score(y_test, y_test_pred_logreg)

0.78671328671328666

In [276]:
from sklearn.svm import SVC

In [277]:
svc_model = SVC(degree=1)

In [278]:
svc_model.fit(X_train, y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape=None, degree=1, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [279]:
y_test_pred_svc = svc_model.predict(X_test)

In [280]:
metrics.accuracy_score(y_test, y_test_pred_svc)

0.59790209790209792

## Final training and predicting on testing data

In [281]:
logreg.fit(X, y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [282]:
test

     PassengerId  Pclass  Sex   Age  SibSp  Parch      Fare
0            892       3    1  34.5      0      0    7.8292
1            893       3    0  47.0      1      0    7.0000
2            894       2    1  62.0      0      0    9.6875
3            895       3    1  27.0      0      0    8.6625
4            896       3    0  22.0      1      1   12.2875
5            897       3    1  14.0      0      0    9.2250
6            898       3    0  30.0      0      0    7.6292
7            899       2    1  26.0      1      1   29.0000
8            900       3    0  18.0      0      0    7.2292
9            901       3    1  21.0      2      0   24.1500
10           902       3    1   NaN      0      0    7.8958
11           903       1    1  46.0      0      0   26.0000
12           904       1    0  23.0      1      0   82.2667
13           905       2    1  63.0      1      0   26.0000
14           906       1    0  47.0      1      0   61.1750
15           907       2    0  24.0      1      0   27.7208
16           908       2    1  35.0      0      0   12.3500
17           909       3    1  21.0      0      0    7.2250
18           910       3    0  27.0      1      0    7.9250
19           911       3    0  45.0      0      0    7.2250
20           912       1    1  55.0      1      0   59.4000
21           913       3    1   9.0      0      1    3.1708
22           914       1    0   NaN      0      0   31.6833
23           915       1    1  21.0      0      1   61.3792
24           916       1    0  48.0      1      3  262.3750
25           917       3    1  50.0      1      0   14.5000
26           918       1    0  22.0      0      1   61.9792
27           919       3    1  22.5      0      0    7.2250
28           920       1    1  41.0      0      0   30.5000
29           921       3    1   NaN      2      0   21.6792
..           ...     ...  ...   ...    ...    ...       ...
388         1280       3    1  21.0      0      0    7.7500
389         1281       3    1   6.0      3      1   21.0750
390         1282       1    1  23.0      0      0   93.5000
391         1283       1    0  51.0      0      1   39.4000
392         1284       3    1  13.0      0      2   20.2500
393         1285       2    1  47.0      0      0   10.5000
394         1286       3    1  29.0      3      1   22.0250
395         1287       1    0  18.0      1      0   60.0000
396         1288       3    1  24.0      0      0    7.2500
397         1289       1    0  48.0      1      1   79.2000
398         1290       3    1  22.0      0      0    7.7750
399         1291       3    1  31.0      0      0    7.7333
400         1292       1    0  30.0      0      0  164.8667
401         1293       2    1  38.0      1      0   21.0000
402         1294       1    0  22.0      0      1   59.4000
403         1295       1    1  17.0      0      0   47.1000
404         1296       1    1  43.0      1      0   27.7208
405         1297       2    1  20.0      0      0   13.8625
406         1298       2    1  23.0      1      0   10.5000
407         1299       1    1  50.0      1      1  211.5000
408         1300       3    0   NaN      0      0    7.7208
409         1301       3    0   3.0      1      1   13.7750
410         1302       3    0   NaN      0      0    7.7500
411         1303       1    0  37.0      1      0   90.0000
412         1304       3    0  28.0      0      0    7.7750
413         1305       3    1   NaN      0      0    8.0500
414         1306       1    0  39.0      0      0  108.9000
415         1307       3    1  38.5      0      0    7.2500
416         1308       3    1   NaN      0      0    8.0500
417         1309       3    1   NaN      1      1   22.3583

[418 rows x 7 columns]

In [283]:
test.describe()

,PassengerId,Pclass,Sex,Age,SibSp,Parch,Fare
count,418.000000,418.000000,418.000000,332.000000,418.000000,418.000000,417.000000
mean,1100.500000,2.265550,0.636364,30.272590,0.447368,0.392344,35.627188
std,120.810458,0.841838,0.481622,14.181209,0.896760,0.981429,55.907576
min,892.000000,1.000000,0.000000,0.170000,0.000000,0.000000,0.000000
25%,996.250000,1.000000,0.000000,21.000000,0.000000,0.000000,7.895800
50%,1100.500000,3.000000,1.000000,27.000000,0.000000,0.000000,14.454200
75%,1204.750000,3.000000,1.000000,39.000000,1.000000,0.000000,31.500000
max,1309.000000,3.000000,1.000000,76.000000,8.000000,9.000000,512.329200

In [284]:
test.Age.mean()

30.272590361445783

In [285]:
test.fillna(inplace=True, axis=1, value=test.Age.mean())

In [286]:
test.describe()

,PassengerId,Pclass,Sex,Age,SibSp,Parch,Fare
count,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000,418.000000
mean,1100.500000,2.265550,0.636364,30.272590,0.447368,0.392344,35.614378
std,120.810458,0.841838,0.481622,12.634534,0.896760,0.981429,55.841115
min,892.000000,1.000000,0.000000,0.170000,0.000000,0.000000,0.000000
25%,996.250000,1.000000,0.000000,23.000000,0.000000,0.000000,7.895800
50%,1100.500000,3.000000,1.000000,30.272590,0.000000,0.000000,14.454200
75%,1204.750000,3.000000,1.000000,35.750000,1.000000,0.000000,31.471875
max,1309.000000,3.000000,1.000000,76.000000,8.000000,9.000000,512.329200

In [296]:
X_ = test

In [306]:
y_ = logreg.predict(X_)

In [307]:
y_results = pd.DataFrame()

In [308]:
y_results["PassengerId"] = X_["PassengerId"]

In [309]:
y_results["Survived"] = pd.DataFrame(y_)

In [310]:
y_results

     PassengerId  Survived
0            892         0
1            893         0
2            894         0
3            895         0
4            896         1
5            897         0
6            898         1
7            899         0
8            900         1
9            901         0
10           902         0
11           903         0
12           904         1
13           905         0
14           906         1
15           907         1
16           908         0
17           909         0
18           910         1
19           911         1
20           912         0
21           913         0
22           914         1
23           915         1
24           916         1
25           917         0
26           918         1
27           919         0
28           920         0
29           921         0
..           ...       ...
388         1280         0
389         1281         0
390         1282         1
391         1283         1
392         1284         0
393         1285         0
394         1286         0
395         1287         1
396         1288         0
397         1289         1
398         1290         0
399         1291         0
400         1292         1
401         1293         0
402         1294         1
403         1295         1
404         1296         0
405         1297         0
406         1298         0
407         1299         1
408         1300         1
409         1301         1
410         1302         1
411         1303         1
412         1304         1
413         1305         0
414         1306         1
415         1307         0
416         1308         0
417         1309         0

[418 rows x 2 columns]

In [311]:
y_results.to_csv("titanic_results_01.csv", encoding='utf-8', index=False)